@import url(fonts.css);
@import url(reset.css);



.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 15px;
}

.menu-open body {
   overflow: hidden;
}

/* -----------------------------HEADER ---------------- */
.header {
   background: #FFF9F4;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
   opacity: 0.95;
}

.header__container {
   display: flex;
   min-height: 100px;
   align-items: center;
   padding-top: 5px;
   padding-bottom: 5px;
   column-gap: 10px;
}

.header__logo {
   color: #000;
   font-family: "Merriweather";
   font-size: 30px;
   font-style: italic;
   font-weight: 700;
   flex-shrink: 0;
   z-index: 5;
}

.menu {
   flex: 1 1 auto;
}

.menu__body {}

.menu__list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   column-gap: 36px;
   flex-wrap: wrap;
   row-gap: 5px;
}

.menu__item--active {
   font-weight: 700;
}

.menu__item {
   position: relative;
}

.menu__item--arrow .menu__link {
   display: flex;
   column-gap: 4px;
   align-items: center;
}

.menu__item--arrow .menu__link::after {
   content: "";
   background: url("../img/header_praktika/arrow.png") 0 0 no-repeat;
   height: 8px;
   width: 16px;
   flex: 0 0 16px;
   transition: all 0.3s;
   align-self: center;
}

@media(any-hover: hover) {
   .menu__item--arrow:hover .menu__link::after {
      transform: rotate(-180deg);
   }
}

.menu__link {
   color: #000;
   font-family: "Merriweather";
   font-size: 20px;
}

@media(any-hover: hover) {
   .menu__item:hover .menu__link {
      text-decoration: underline;
   }
}

/* ----------------------------HEADER----SUB-MENU--------------------------- */
.sub-menu {
   position: absolute;
   top: 100%;
   left: 0;
   padding-top: 5px;
   visibility: hidden;
   opacity: 0;
   transition: all 0.4s;
   transform: translate(0px, 10%);
   pointer-events: none;
   z-index: 5;
}

.menu__item--arrow:hover .sub-menu {
   visibility: visible;
   opacity: 1;
   transform: translate(0px, 0px);
   pointer-events: all;
}

.sub-menu__list {
   width: 150px;
   background: #0E333D;
   padding: 10px;
   border-radius: 5px;
}

.sub-menu__item {}

.sub-menu__item:not(:last-child) {
   margin-bottom: 10px;
}

.sub-menu__link {
   color: white;
}

@media(any-hover: hover) {
   .sub-menu__link:hover {
      text-decoration: underline;
   }
}

/* ----------------------HEADER-BUTTON----------------------------------- */

.header__link-button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   color: #FFF;
   font-family: "Merriweather";
   font-size: 20px;
   font-weight: 700;
   border-radius: 5px;
   background: #0E333D;
   padding: 12px 29px;
   transition: all 0.3s;
   border: 1px solid #0E333D;
   flex-shrink: 0;
   z-index: 5;
}

@media(any-hover: hover) {
   .header__link-button:hover {
      color: #0E333D;
      border: 1px solid #0E333D;
      background: #FFF;
   }
}

@media(max-width:1100px) {
   .menu__list {
      column-gap: 24px;
   }
}

/* ------------------------BURGER-------------------------- */

@media(max-width:960px) {
   .header__container {
      min-height: 50px;
   }

   .menu__body {
      overflow: auto;
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: #0E333D;
      padding: 70px 20px 30px 20px;
      transition: all 0.3s;
      opacity: 0.95;
   }

   .menu__body::after {
      content: "";
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 50px;
      background: #2f97b4;
      transition: all 0.3s;
      z-index: 6;
   }

   .header {
      height: 50px;
   }

   .menu-open .menu__body,
   .menu-open .menu__body::after {
      left: 0;
   }



   .menu__item--arrow .menu__link {
      display: block;
   }

   .menu__item--arrow .menu__link::after {
      display: none;
   }

   .sub-menu__list {
      width: 100%;
   }

   .sub-menu {
      transform: translate(0px, 0px);
      position: relative;
      visibility: visible;
      opacity: 1;
   }

   .sub-menu__link {
      font-size: 22px;
   }

   .header__logo {
      font-size: 24px;
   }

   .header__link-button {
      font-size: 14px;
      padding: 8px 18px;
   }

   .menu__list {
      flex-direction: column;
      text-align: right;
   }

   .icon-menu {
      display: block;
      width: 30px;
      height: 20px;
      flex: 0 0 30px;
      position: relative;
   }

   .menu__link {
      font-size: 30px;
      color: white;
   }

   .menu__list {
      row-gap: 20px;
   }

   .icon-menu::after,
   .icon-menu::before,
   .icon-menu span {
      content: "";
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      left: 0;
      transition: all 0.3s;

   }

   .icon-menu::after {
      top: 0;
   }

   .icon-menu::before {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      margin-top: -1px;
   }

   .menu-open .icon-menu span {
      opacity: 0;
   }

   .menu-open .icon-menu::after {
      transform: rotate(45deg);
      top: 50%;
      margin-top: -1px;
   }

   .menu-open .icon-menu::before {
      transform: rotate(-45deg);
      bottom: 50%;
      margin-bottom: -1px;
   }
}

/* ----------------------HERO---------------------------------- */

.page__hero {}

.hero {
   background: #FFF9F4;
}

.hero__container {
   display: flex;
   padding-top: 200px;
   padding-bottom: 140px;
   column-gap: 86px;
}

.hero__content {
   flex: 1 1 48%;
   padding-top: 65px;
   padding-bottom: 65px;

}

.hero__title {
   color: #0E333D;
   font-family: "DM Serif Text";
   font-size: 78px;
   line-height: 1.27;
}

.hero__title:not(:last-child) {
   margin-bottom: 32px;
}

.hero__text {
   color: #727272;
   font-family: "Inter";
   font-size: 22px;
   line-height: 1.48;
}

.hero__text:not(:last-child) {
   margin-bottom: 48px;
}

.hero__buttons {
   display: flex;
   gap: 10px;
   color: #FFF;
   font-family: "DM Serif Text";
   font-size: 28px;
   align-items: center;
}

.hero__link-shop {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   background: #0E333D;
   padding: 16px 37px;
   flex-shrink: 0;
   transition: all 0.3s;
   border: 2px solid #0E333D;
}

@media(any-hover: hover) {
   .hero__link-shop:hover {
      color: #0E333D;
      border: 2px solid #0E333D;
      background: #FFF;
   }
}

.hero__link-video {
   color: #0E333D;
   padding: 16px 37px;
   border: 2px solid #FFF9F4;
   flex-shrink: 0;
   text-decoration: underline;
   border-radius: 5px;
   text-align: center;
}

@media(any-hover: hover) {
   .hero__link-video:hover {
      border: 2px solid #0E333D;
   }
}

.hero__images {
   display: flex;
   column-gap: 32px;
   height: 536px;
   row-gap: 15px;
}

.hero__image-left {
   align-self: flex-end;
   flex: 0 0 245px;
   max-width: 350px;
   min-height: 468px;
   overflow: hidden;
   aspect-ratio: 245 /468;
}

.hero__image-left img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.4s;
}

@media(any-hover: hover) {
   .hero__image-left img:hover {
      transform: scale(1.02);
   }
}

.hero__image-right {
   aspect-ratio: 245 /468;
   align-self: flex-start;
   flex: 0 0 245px;
   overflow: hidden;
   max-width: 350px;
   min-height: 468px;
}

.hero__image-right img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: all 0.4s;
}

@media(any-hover: hover) {
   .hero__image-right img:hover {
      transform: scale(1.02);
   }
}

/* -------------------------------АДАПТИВ--------------- */
@media(max-width:1200px) {
   .hero__container {
      padding-top: 130px;
      padding-bottom: 70px;
   }
}

@media(max-width:960px) {
   .hero__container {
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 20px;
      text-align: center;
      gap: 15px;
   }

   .hero__title {
      font-size: 58px;
   }

   .hero__content {
      padding-top: 0;
      padding-bottom: 0;
   }

   .hero__images {
      justify-content: center;
      height: 100%;
      column-gap: 25px;
   }

   .hero__image-right {
      flex-shrink: 1;
      flex-grow: 1;
   }

   .hero__image-left {
      flex-shrink: 1;
      flex-grow: 1;
   }

   .hero__buttons {
      justify-content: center;
   }

   .hero__title:not(:last-child) {
      margin-bottom: 12px;
   }

   .hero__text:not(:last-child) {
      margin-bottom: 18px;
   }

}

@media (max-width: 767.98px) {
   .hero__title {
      font-size: 48px;
   }

   .hero__images {
      column-gap: 15px;
   }

   .hero__image-left {
      align-self: stretch;
   }

   .hero__image-right {
      align-self: stretch;
   }
}

@media (max-width: 480px) {
   .hero__buttons {
      flex-direction: column;
      align-items: stretch;
   }

   .hero__link-video {
      border: 2px solid #0E333D;
   }

   .hero__images {
      flex-direction: column;
   }

   .hero__image-left {
      align-self: stretch;
      max-width: 100%;
   }

   .hero__image-right {
      align-self: stretch;
      max-width: 100%;
   }
}

/* --------------------------DECORATION------------------------------ */
.decoration {
   padding-top: 94px;
   padding-bottom: 94px;
   background: #0E333D;
}

.decoration__container {
   max-width: 1203px;
   margin: 0 auto;
   padding: 0 15px;
}

.decoration__header {
   text-align: center;
}

.decoration__header:not(:last-child) {
   margin-bottom: 77px;
}

.decoration__title {
   color: #FFF;
   font-family: "DM Serif Text";
   font-size: 48px;
   line-height: 1.27;
}

.decoration__title:not(:last-child) {
   margin-bottom: 23px;
}

.decoration__sub-title:not(:last-child) {
   margin-bottom: 34px;
}

.decoration__sub-title {
   color: #EBEBEB;
   font-family: "Raleway";
   font-size: 20px;
   font-weight: 500;
   line-height: 1.27;
}

.decoration__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 41px;
   row-gap: 10px;
}


.decoration__link:hover {
   text-decoration-line: underline;
}

.decoration__item {}

.decoration__link {
   color: #FFF;
   font-family: "Raleway";
   font-size: 18px;
   font-weight: 600;
   line-height: 1.27;
}

.decoration__items {
   display: flex;
   margin: 0px -15px;
   row-gap: 15px;
   flex-wrap: wrap;
}

.decoration__column {}

.column-decoration {
   flex: 0 0 25%;
   padding: 0px 15px;
   height: 100%;
}

.column-decoration__picture {
   border-radius: 10px;
   overflow: hidden;
}

.column-decoration__picture:hover.column-decoration__picture img {
   transform: scale(1.04);
}

.column-decoration__picture img {
   aspect-ratio: 271 / 270;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   transition: all 0.3s;
}

.column-decoration__picture:not(:last-child) {
   margin-bottom: 17px;
}

.column-decoration__info {
   color: #FFF;
   font-family: "Cormorant Infant";
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
}

.column-decoration__name:not(:last-child) {
   margin-bottom: 4px;
}

.column-decoration__price {}

@media (max-width: 990.98px) {
   .decoration {
      padding-top: 50px;
      padding-bottom: 50px;
   }

   .decoration__header:not(:last-child) {
      margin-bottom: 40px;
   }

   .decoration__items {
      display: flex;
      margin: 0px -5px;
   }

   .column-decoration {
      padding: 0px 5px;
   }
}

@media (max-width: 767.98px) {
   .decoration {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .decoration__header:not(:last-child) {
      margin-bottom: 20px;
   }


   .column-decoration__picture:not(:last-child) {
      margin-bottom: 10px;
   }

   .decoration__title:not(:last-child) {
      margin-bottom: 10px;
   }

   .decoration__sub-title:not(:last-child) {
      margin-bottom: 15px;
   }

   .column-decoration {
      display: flex;
      flex-direction: column;
      flex: 0 1 50%;
   }

   .column-decoration__info {
      font-size: 20px;
   }

   .decoration__items {
      row-gap: 10px;
   }
}

@media (max-width: 480px) {
   .decoration {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .column-decoration {
      display: flex;
      flex-direction: column;
      flex: 0 1 100%;
   }

   .decoration__list {
      column-gap: 25px;
   }

   .column-decoration__info {
      text-align: center;
   }

   .decoration__items {
      display: flex;
      margin: 0px 0px;
   }

   .column-decoration {
      padding: 0px 0px;
   }
}