@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*--------------------------------Causten------------------------------------------*/
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format(woff2), url("../fonts/Causten-Regular.woff") format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format(woff2), url("../fonts/Causten-Light.woff") format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format(woff2), url("../fonts/Causten-SemiBold.woff") format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*--------------------------------Core Sans C------------------------------------------*/
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format(woff2), url("../fonts/CoreSansC-65Bold.woff") format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format(woff2), url("../fonts/CoreSansC-85Heavy.woff") format(woff);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

.menu-open body {
  overflow: hidden;
}

.title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  position: relative;
  padding-left: 26px;
}
.title:not(:last-child) {
  margin-bottom: 70px;
}
.title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8a33fd;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}
@media (max-width: 990.98px) {
  .title:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media (max-width: 767.98px) {
  .title:not(:last-child) {
    margin-bottom: 15px;
    font-size: 28px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 50;
}
@media (max-width: 767.98px) {
  .header {
    height: 55px;
  }
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 55px;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91px;
          flex: 0 0 91px;
  height: 45px;
  position: relative;
  z-index: 5;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 450px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65px;
            flex: 0 0 65px;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 5px;
}
@media (max-width: 1120px) {
  .header__content {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .header__content {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}
.header__search::after {
  content: "";
  background: url("../img/header/search.svg") 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}
@media (max-width: 992.98px) {
  .header__search::after {
    left: 3px;
  }
}
@media (max-width: 767.98px) {
  .header__search {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .header__search::after {
    display: none;
  }
}
.header__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #807d7e;
  font-family: "Causten";
  font-size: 16px;
  font-weight: 400;
  padding: 12px 30px 12px 52px;
  border-radius: 8px;
  background: #f6f6f6;
}
@media (max-width: 992.98px) {
  .header__input {
    padding: 12px 10px 12px 25px;
  }
}
@media (max-width: 767.98px) {
  .header__input {
    padding: 4px 5px 4px 5px;
  }
}
@media (max-width: 425px) {
  .header__input {
    max-width: 90px;
  }
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
@media (max-width: 990.98px) {
  .header__icons {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }
}
.header__icon {
  padding: 12px;
  border-radius: 8px;
  background: #f6f6f6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 5;
}
.header__icon:hover {
  background: rgba(147, 172, 226, 0.3);
}
@media (max-width: 767.98px) {
  .header__icon {
    padding: 3px;
  }
}

.menu {
  z-index: 5;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #d4d7d7;
    overflow: auto;
    opacity: 0.9;
    padding: 80px 15px 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__body ::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 55px;
    background: #367e7e;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
.menu__list {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 5px;
}
@media (max-width: 1120px) {
  .menu__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 15px;
  }
}
.menu__item {
  color: #807d7e;
  font-weight: 500;
  font-family: "Causten";
  font-size: 22px;
}
.menu__item--active {
  color: #3c4242;
  font-weight: 700;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 990.98px) {
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 36px;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transform: translate(0px, -1px);
        -ms-transform: translate(0px, -1px);
            transform: translate(0px, -1px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.menu-open .menu__body {
  left: 0px;
}
.menu-open .menu__body ::after {
  left: 0px;
}
.menu-open .icon-menu span {
  display: none;
}
.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}
.menu-open .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 50%;
  margin-bottom: -1px;
}

.page {
  padding-top: 110px;
}
@media (max-width: 767.98px) {
  .page {
    padding-top: 55px;
  }
}
.page__hero {
  position: relative;
}

.hero {
  position: relative;
}
.hero__container {
  padding-top: 129px;
  padding-bottom: 132px;
}
@media (max-width: 767.98px) {
  .hero__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media (max-width: 424.98px) {
  .hero__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.hero__content {
  padding-left: 85px;
  max-width: 526px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .hero__content {
    padding-left: 0;
    row-gap: 15px;
  }
}
.hero__label {
  color: #fff;
  font-family: "Core Sans C";
  font-size: 32px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
.hero__title {
  color: #fff;
  font-family: "Core Sans C";
  font-size: 78px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.315px;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 48px;
  }
}
@media (max-width: 424.98px) {
  .hero__title {
    font-size: 38px;
  }
}
.hero__sub-title {
  color: #fff;
  font-family: "Core Sans C";
  font-size: 32px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.315px;
}
@media (max-width: 425px) {
  .hero__sub-title {
    font-size: 24px;
  }
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3c4242;
  font-family: "Causten";
  font-size: 24px;
  font-weight: 700;
  padding: 16px 70px;
  border-radius: 8px;
  background: #fff;
  max-width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #fff;
}
.hero__button:hover {
  background: #93ace2;
}
@media (max-width: 425.98px) {
  .hero__button {
    max-width: 100%;
    opacity: 0.9;
  }
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sale {
  padding-top: 130px;
}
@media (max-width: 990.98px) {
  .sale {
    padding-top: 60px;
  }
}
@media (max-width: 767.98px) {
  .sale {
    padding-top: 20px;
  }
}
.sale__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 767.98px) {
  .sale__items {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 600px) {
  .sale__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sale__item--left {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  padding: 55px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sale__item--left:hover {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767.98px) {
  .sale__item--left {
    padding: 10px 15px;
  }
}
.sale__body {
  position: relative;
  z-index: 5;
}
.sale__image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sale__item--right {
  padding: 55px 30px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sale__item--right:hover {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767.98px) {
  .sale__item--right {
    padding: 10px 15px;
  }
}
.sale__image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.body {
  font-family: "Core Sans C";
  color: #fff;
}
.body_label {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: 0.251px;
}
.body_label:not(:last-child) {
  margin-bottom: 24px;
}
.body__title {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
}
.body__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .body__title {
    font-size: 28px;
  }
}
.body__sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.251px;
}
.body__sub-title:not(:last-child) {
  margin-bottom: 21px;
}
.body__link {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.body__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.body__link:hover::after {
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.body-right {
  font-family: "Core Sans C";
  color: #fff;
  max-width: 294px;
}
.body-right_label {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: 0.251px;
}
.body-right_label:not(:last-child) {
  margin-bottom: 24px;
}
.body-right__title {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
}
.body-right__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .body-right__title {
    font-size: 28px;
  }
}
.body-right__sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.251px;
}
.body-right__sub-title:not(:last-child) {
  margin-bottom: 30px;
}
.body-right__link {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}
.body-right__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.body-right__link:hover::after {
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.new-arrival {
  padding-top: 100px;
}
@media (max-width: 990.98px) {
  .new-arrival {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .new-arrival {
    padding-top: 25px;
  }
}
.new-arrival__items {
  padding: 0 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: 1fr;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 20px;
  position: relative;
}
@media (max-width: 990.98px) {
  .new-arrival__items {
    padding: 0;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.new-arrival__arrow-left {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}
.new-arrival__arrow-left :hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 990.98px) {
  .new-arrival__arrow-left {
    display: none;
  }
}
.new-arrival__arrow-right {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}
.new-arrival__arrow-right :hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 990.98px) {
  .new-arrival__arrow-right {
    display: none;
  }
}
.new-arrival__item {
  display: grid;
  max-width: 263px;
  row-gap: 33px;
}
@media (max-width: 990.98px) {
  .new-arrival__item {
    row-gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .new-arrival__item {
    row-gap: 10px;
  }
}
@media (max-width: 420px) {
  .new-arrival__item {
    max-width: 100%;
  }
}
.new-arrival__image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.new-arrival__image img {
  aspect-ratio: 263/263;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.new-arrival__image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.new-arrival__sub-title {
  color: #3c4242;
  font-family: "Causten";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.new-arrival__sub-title:hover {
  text-decoration: underline;
}

.saving {
  padding-top: 95px;
}
@media (max-width: 990.98px) {
  .saving {
    padding-top: 45px;
  }
}
@media (max-width: 767.98px) {
  .saving {
    padding-top: 25px;
  }
}
.saving__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 990.98px) {
  .saving__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .saving__content {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 600px) {
  .saving__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.saving__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.saving__item:hover {
  -webkit-box-shadow: 2px 2px 6px 0px rgba(6, 0, 0, 0.4);
          box-shadow: 2px 2px 6px 0px rgba(6, 0, 0, 0.4);
}

.item-saving {
  position: relative;
  grid-column: span 2;
  border-radius: 12px;
  overflow: hidden;
  padding: 65px 20px;
}
.item-saving:hover .item-saving__arrow-bottom {
  -webkit-animation-name: arrow-move;
          animation-name: arrow-move;
  -webkit-animation: arrow-move 0.7s linear infinite alternate running 0s both;
          animation: arrow-move 0.7s linear infinite alternate running 0s both;
}
@-webkit-keyframes arrow-move {
  0% {
    -webkit-transform: translate(45%, 0px);
            transform: translate(45%, 0px);
  }
  100% {
    -webkit-transform: translate(45%, 60%);
            transform: translate(45%, 60%);
  }
}
@keyframes arrow-move {
  0% {
    -webkit-transform: translate(45%, 0px);
            transform: translate(45%, 0px);
  }
  100% {
    -webkit-transform: translate(45%, 60%);
            transform: translate(45%, 60%);
  }
}
.item-saving:hover .item-saving__arrow-bottom--right {
  -webkit-animation-name: arrow-second;
          animation-name: arrow-second;
  -webkit-animation: arrow-second 0.7s linear infinite alternate running 0s both;
          animation: arrow-second 0.7s linear infinite alternate running 0s both;
}
@-webkit-keyframes arrow-second {
  0% {
    -webkit-transform: translate(-45%, 0px);
            transform: translate(-45%, 0px);
  }
  100% {
    -webkit-transform: translate(-45%, 60%);
            transform: translate(-45%, 60%);
  }
}
@keyframes arrow-second {
  0% {
    -webkit-transform: translate(-45%, 0px);
            transform: translate(-45%, 0px);
  }
  100% {
    -webkit-transform: translate(-45%, 60%);
            transform: translate(-45%, 60%);
  }
}
@media (max-width: 990.98px) {
  .item-saving {
    grid-column: span 1;
  }
}
.item-saving:nth-child(4), .item-saving:nth-child(5) {
  grid-column: span 3;
}
@media (max-width: 990.98px) {
  .item-saving:nth-child(4), .item-saving:nth-child(5) {
    grid-column: span 1;
  }
}
@media (max-width: 767.98px) {
  .item-saving {
    padding: 20px 20px;
  }
}
.item-saving__body {
  max-width: 147px;
  position: relative;
  z-index: 5;
  color: #fff;
  font-family: "Causten";
}
.item-saving__button-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background: #3c4242;
  padding: 16px 8px;
  width: 104px;
  height: 34px;
  border: 1px solid rgba(60, 66, 66, 0);
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item-saving__button-top:not(:last-child) {
  margin-bottom: 28px;
}
.item-saving__button-top:hover {
  background: rgba(60, 66, 66, 0);
  border: 1px solid rgb(60, 66, 66);
  color: #3c4242;
}
.item-saving__title {
  font-family: "Core Sans C";
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
}
.item-saving__title:not(:last-child) {
  margin-bottom: 10px;
}
.item-saving__sub-title {
  font-size: 14px;
  font-weight: 600;
}
.item-saving__sub-title:not(:last-child) {
  margin-bottom: 10px;
}
.item-saving__text {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.item-saving__text:not(:last-child) {
  margin-bottom: 30px;
}
.item-saving__arrow-bottom {
  height: 23px;
  -webkit-transform: translate(45%, 0px);
      -ms-transform: translate(45%, 0px);
          transform: translate(45%, 0px);
}
.item-saving__arrow-bottom img {
  width: 20px;
  height: 23px;
}
.item-saving__arrow-bottom:not(:last-child) {
  margin-bottom: 40px;
}
.item-saving__arrow-bottom--right {
  -webkit-transform: translate(-45%, 0px);
      -ms-transform: translate(-45%, 0px);
          transform: translate(-45%, 0px);
}
.item-saving__arrow-bottom--right:not(:last-child) {
  margin-bottom: 30px;
}
.item-saving__arrow-bottom--dark {
  -webkit-transform: translate(45%, 0px);
      -ms-transform: translate(45%, 0px);
          transform: translate(45%, 0px);
}
.item-saving__arrow-bottom--dark:not(:last-child) {
  margin-bottom: 40px;
}
.item-saving__image-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 767.98px) {
  .item-saving__image-main {
    -o-object-position: center top;
       object-position: center top;
  }
}
.item-saving__body--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}
.item-saving__body--right-color {
  color: #3c4242;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 11px 8px;
  min-width: 111px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  -webkit-box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.4);
          box-shadow: 2px 2px 10px 0px rgba(255, 255, 255, 0.4);
}

.button--right-center {
  border: 2px solid #3c4242;
}
.button--right-center:hover {
  -webkit-box-shadow: 2px 2px 10px 0px #3c4242;
          box-shadow: 2px 2px 10px 0px #3c4242;
}

.item-saving--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 35px 20px;
}
@media (max-width: 767.98px) {
  .item-saving--right {
    padding: 20px 20px;
  }
}

.item-saving--right-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 65px 20px;
}
@media (max-width: 767.98px) {
  .item-saving--right-color {
    padding: 20px 20px;
  }
}

.item-saving--right-padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 65px 120px;
}
@media (max-width: 990.98px) {
  .item-saving--right-padding {
    padding: 65px 60px;
  }
}
@media (max-width: 767.98px) {
  .item-saving--right-padding {
    padding: 20px 20px;
  }
}

.fashion {
  padding-top: 100px;
}
@media (max-width: 990.98px) {
  .fashion {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .fashion {
    padding-top: 20px;
  }
}
.fashion__container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
@media (max-width: 600px) {
  .fashion__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.fashion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 15px;
  overflow: hidden;
  border-radius: 12px 0px 0px 12px;
  position: relative;
}
@media (max-width: 990.98px) {
  .fashion__content {
    padding: 60px 15px;
  }
}
@media (max-width: 767.98px) {
  .fashion__content {
    padding: 30px 15px;
  }
}
@media (max-width: 600px) {
  .fashion__content {
    border-radius: 12px;
  }
}
.fashion__content::before {
  content: "";
  background: rgb(0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), color-stop(50%, rgba(1, 1, 1, 0.7175245098)), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(1, 1, 1, 0.7175245098) 50%, rgb(0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.8;
}
.fashion__body {
  max-width: 466px;
  position: relative;
  z-index: 5;
  color: #fff;
  font-family: "Causten";
}
.fashion__title {
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 800;
  line-height: 1.47;
  letter-spacing: 0.208px;
}
.fashion__title:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .fashion__title:not(:last-child) {
    margin-bottom: 15px;
    font-size: 28px;
  }
}
.fashion__text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
.fashion__text:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .fashion__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
.fashion__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c4242;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #fff;
  padding: 12px 44px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 2px solid rgba(0, 0, 0, 0.8);
}
.fashion__button:hover {
  -webkit-box-shadow: 2px 2px 7px 0px #ffffff;
          box-shadow: 2px 2px 7px 0px #ffffff;
  text-decoration: underline;
}
@media (max-width: 425px) {
  .fashion__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.fashion__image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fashion__image-right {
  position: relative;
  border-radius: 0px 12px 12px 0px;
  overflow: hidden;
}
.fashion__image-right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.products {
  padding-top: 100px;
}
@media (max-width: 990.98px) {
  .products {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .products {
    padding-top: 25px;
  }
}
.products__column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
@media (max-width: 1040px) {
  .products__column {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .products__column {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 590px) {
  .products__column {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 395px) {
  .products__column {
    grid-template-columns: repeat(1, 1fr);
  }
}

.column-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  max-width: 270px;
}
@media (max-width: 767.98px) {
  .column-products__item {
    row-gap: 5px;
  }
}
@media (max-width: 395px) {
  .column-products__item {
    max-width: 100%;
  }
}
.column-products__image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.column-products__image:hover::after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.column-products__image img {
  aspect-ratio: 270/393;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-products__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.column-products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  max-height: 100%;
}
.column-products__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  font-family: "Causten";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.column-products__title {
  color: #2a2f2f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
}
.column-products__title:hover {
  text-decoration: underline;
}
.column-products__sub-title {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.column-products__sub-title:hover {
  text-decoration: underline;
}
.column-products__aroow {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.column-products__aroow img {
  width: 100%;
  height: 100%;
}
.column-products__aroow:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.categories {
  padding-top: 100px;
}
@media (max-width: 990.98px) {
  .categories {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .categories {
    padding-top: 25px;
  }
}
.categories__column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
@media (max-width: 1040px) {
  .categories__column {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .categories__column {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 590px) {
  .categories__column {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 395px) {
  .categories__column {
    grid-template-columns: repeat(1, 1fr);
  }
}

.column-categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  max-width: 270px;
}
@media (max-width: 767.98px) {
  .column-categories__item {
    row-gap: 5px;
  }
}
@media (max-width: 395px) {
  .column-categories__item {
    max-width: 100%;
  }
}
.column-categories__image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.column-categories__image:hover::after {
  left: -100%;
}
.column-categories__image img {
  aspect-ratio: 270/393;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.column-categories__image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.column-categories__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.column-categories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  max-height: 100%;
}
.column-categories__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  font-family: "Causten";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.column-categories__label {
  color: #2a2f2f;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
}
.column-categories__label:hover {
  text-decoration: underline;
}
.column-categories__sub-title {
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.column-categories__sub-title:hover {
  text-decoration: underline;
}
.column-categories__aroow {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.column-categories__aroow img {
  width: 100%;
  height: 100%;
}
.column-categories__aroow:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.brends {
  padding-top: 50px;
}
@media (max-width: 767.98px) {
  .brends {
    padding-top: 25px;
  }
}
.brends__container {
  background: #3c4242;
  border-radius: 12px;
  padding: 44px 123px;
}
@media (max-width: 1250px) {
  .brends__container {
    border-radius: 0;
  }
}
@media (max-width: 990.98px) {
  .brends__container {
    padding: 33px 123px;
  }
}
@media (max-width: 767.98px) {
  .brends__container {
    padding: 20px 15px;
  }
}
.brends__title {
  color: #fff;
  text-align: center;
  font-family: "Core Sans C";
  font-size: 50px;
  font-weight: 800;
}
.brends__title:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .brends__title {
    font-size: 35px;
  }
  .brends__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.brends__text {
  color: #fff;
  text-align: center;
  font-family: "Causten";
  font-size: 22px;
}
.brends__text span {
  color: #fbd103;
}
.brends__text:not(:last-child) {
  margin-bottom: 67px;
}
@media (max-width: 990.98px) {
  .brends__text:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media (max-width: 767.98px) {
  .brends__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
.brends__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  grid-auto-rows: 1fr;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 10px;
}
@media (max-width: 990.98px) {
  .brends__content {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 400px) {
  .brends__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.brends__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.brends__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.feedback {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 990.98px) {
  .feedback {
    padding-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .feedback {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.feedback__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  row-gap: 10px;
}
@media (max-width: 1050px) {
  .feedback__content {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .feedback__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  border-radius: 10px;
  border: 1.8px solid #bebcbd;
  background: #fff;
  padding: 23px;
}
.item-feedback__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media (max-width: 1050px) {
  .item-feedback {
    padding: 10px;
  }
}
.item-feedback__avatarka {
  width: 58px;
  height: 58px;
}
.item-feedback__avatarka img {
  aspect-ratio: 58/58;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-feedback__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.item-feedback__star {
  width: 23px;
  height: 23px;
}
.item-feedback__star img {
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-feedback__title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.item-feedback__text {
  overflow: hidden;
  color: #807d7e;
  font-family: "Causten";
  font-size: 14px;
  letter-spacing: 0.28px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #3c4242;
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.footer__content {
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-auto-rows: 1fr;
  padding-left: 75px;
  padding-right: 75px;
}
.footer__content:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 1100px) {
  .footer__content {
    padding-left: 0;
    padding-right: 0;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.footer__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 15px;
  border-bottom: 1px solid #bebcbd;
  padding-bottom: 40px;
  padding-left: 75px;
}
@media (max-width: 1100px) {
  .footer__actions {
    padding-left: 0;
  }
}
@media (max-width: 560px) {
  .footer__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.footer__copy {
  text-align: center;
  color: #fff;
  font-family: "Causten";
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  padding-top: 37px;
}

.item-footer {
  color: #f6f6f6;
  font-family: "Causten";
}
@media (max-width: 380px) {
  .item-footer {
    text-align: center;
  }
}
.item-footer__title {
  font-size: 28.579px;
  font-weight: 700;
  line-height: 1.5;
}
.item-footer__title:not(:last-child) {
  margin-bottom: 15px;
}
.item-footer__list li:not(:last-child) {
  margin-bottom: 5px;
}
.item-footer__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 2.16;
}
.item-footer__link:hover {
  text-decoration: underline;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 37px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social__item img {
  max-width: 100%;
}
.social__item img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.download__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #f6f6f6;
  font-family: "Causten";
  font-size: 28.579px;
  font-weight: 700;
  line-height: 1.5;
}
.download__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
}
.download__image {
  border: 1px solid #3c4242;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 8px;
  width: 153px;
  height: 51px;
}
.download__image img {
  width: 100%;
  height: 100%;
}
.download__image:hover {
  border: 1px solid #f6f6f6;
}

.catecories-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bebcbd;
  padding-left: 75px;
}
@media (max-width: 1100px) {
  .catecories-footer {
    padding-left: 0;
  }
}
.catecories-footer__title {
  color: #f6f6f6;
  font-family: "Causten";
  font-size: 28.579px;
  font-weight: 700;
  line-height: 1.2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.catecories-footer__icon {
  padding-right: 40px;
  width: 8px;
  height: 16px;
}
@media (max-width: 767.98px) {
  .catecories-footer__icon {
    padding-right: 25px;
  }
}